<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Vue WordPress Post Meta Query Builder</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	<body>

		<div class="container">
			<!-- page content -->
			<div id="app" class="panel-group">
				<h2>WordPress Post Meta Query Builder</h2>
				<p>
					Built by <a href="https://salferrarello.com">Sal Ferrarello</a> (<a href="https://twitter.com/salcode">@salcode</a>)
					using <a href="https://vuejs.org/">Vue.js</a> and <a href="https://getbootstrap.com/">Bootstrap</a>
					(see <a href="https://github.com/salcode/wp-post-meta-query-generator">source code</a>)
				</p>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="form-inline">
							<div class="">
								<label>Query</label>
								<textarea style="width: 100%; height: 180px; display: block;" disabled="disabled" v-model="resultingQuery"></textarea>
							</div>
							<button class="btn" v-on:click="addRow">Add Row</button>
						</div><!-- .form-inline -->
					</div><!-- .panel-heading -->

					<ul class="list-group">
						<li
							class="list-group-item"
							v-for="(row, index) in rows"
							v-bind:row="row">

							<div class="form-inline">
								<div class="form-group">
									<label>Meta Key</label>
									<input class="key form-control"
										placeholder="_edit_last"
										v-model="row.key"
										v-on:blur="updateQuery(row)"
										v-on:keyup.enter="updateQuery(row)">
								</div>
								<div class="form-group">
									<label>Comparison</label> <select
										class="comparison form-control"
										v-model="row.comparison"
										v-on:blur="updateQuery(row)"
										v-on:change="updateQuery(row)">
										<option value="none">None</option>
										<option value="=">Equals</option>
										<option value="LIKE">Like</option>
										<option value="<>">&lt;&gt;</option>
									</select>
								</div>
								<div class="form-group">
									<label>Meta Value</label>
									<input class="value form-control"
										placeholder="value"
										v-model="row.value"
										v-on:blur="updateQuery(row)"
										v-on:keyup.enter="updateQuery(row)">
								</div>
								<button class="btn" @click="removeRow(row)">Delete</button>
							</div><!-- .form-inline -->
						</li>
					</ul>
				</div><!-- .panel panel-default -->
			</div><!-- .panel-group -->
		</div><!-- #app .panel-group -->


		<script src="js/vue-2-2-1.js"></script>
		<script src="js/app.js?v=20161231"></script>
	</body>
</html>
